<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="PhpOrientStatements Test Suite">
			<directory>tests/PhpOrientStatements/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/PhpOrientStatements/</directory>
		</whitelist>
	</filter>
</phpunit>
